In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

In [20]:
df = pd.read_csv(r"../data/player_stats_by_game.csv")

In [17]:
df['GAMES STARTED'].unique()

array(['Inactive', '0', 'Did Not Play', '1', 'Did Not Dress',
       'Not With Team', 'Player Suspended'], dtype=object)

In [ ]:
list_
for c in df.columns:
    val = c.replace(" ","_")
    list_.append(val)
    
df.columns = list_

In [33]:
df.columns = [c.replace(" ", "_") for c in df.columns]

In [34]:
# filtering on the data with multiple values for same column
active_players = df[df['GAMES_STARTED'].isin(['0','1'])]

# filtering on the data with single value for one column
# one way
inactive_players = df[df['GAMES_STARTED']=='Inactive']

# second way
did_not_play = df.query("GAMES_STARTED=='Did Not Play'")

In [37]:
pd.set_option('display.max_columns',100)

In [41]:
active_players['ASSISTS_AND_POINTS'] = active_players['ASSISTS'] + active_players['POINTS']

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
active_players[['PLAYER_NAME','ASSISTS','POINTS','ASSISTS_AND_POINTS']]

In [46]:
test

               PLAYER_NAME  ASSISTS  POINTS  ASSISTS_AND_POINTS
6             Aaron Brooks      0.0     5.0                 5.0
21            Aaron Brooks      1.0     2.0                 3.0
22            Aaron Brooks      0.0     0.0                 0.0
23            Aaron Brooks      0.0     8.0                 8.0
24            Aaron Brooks      6.0     4.0                10.0
...                    ...      ...     ...                 ...
553779  Zydrunas Ilgauskas      0.0     4.0                 4.0
553780  Zydrunas Ilgauskas      0.0     0.0                 0.0
553789      Zylan Cheatham      1.0     2.0                 3.0
553790      Zylan Cheatham      0.0     0.0                 0.0
553805      Zylan Cheatham      1.0     2.0                 3.0

[410125 rows x 4 columns]

In [35]:
did_not_play

,PLAYER_NAME,SEASON_ID,SEASON,SEASON_GAME,DATE,"PLAYER_AGE,_FEB",TEAM,HOME_TEAM,AWAY_TEAM,GAMES_STARTED,...,DEFENSIVE_REBOUNDS,TOTAL_REBOUNDS,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS,GAME_SCORE,PLUS/MINUS
10,Aaron Brooks,58,2007-08,7,2007-11-11,22-301,HOU,CHA,HOU,Did Not Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Aaron Brooks,58,2007-08,62,2008-03-08,23-054,HOU,HOU,NOH,Did Not Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Aaron Brooks,58,2007-08,64,2008-03-12,23-058,HOU,ATL,HOU,Did Not Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Aaron Brooks,58,2007-08,65,2008-03-14,23-060,HOU,HOU,CHA,Did Not Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Aaron Brooks,58,2007-08,66,2008-03-16,23-062,HOU,HOU,LAL,Did Not Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553741,Zydrunas Ilgauskas,61,2010-11,60,2011-02-27,35-267,MIA,MIA,NYK,Did Not Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553804,Zylan Cheatham,70,2019-20,42,2020-01-16,24-060,NOP,NOP,UTA,Did Not Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553806,Zylan Cheatham,70,2019-20,40,2020-01-11,24-055,NOP,BOS,NOP,Did Not Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553814,Zylan Cheatham,70,2019-20,14,2019-11-19,24-002,NOP,NOP,POR,Did Not Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553823,Zylan Cheatham,70,2019-20,3,2019-10-26,23-343,NOP,HOU,NOP,Did Not Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df[df['GAMES STARTED'].isin(['0','1'])]

In [8]:
player_names = df['PLAYER NAME'].unique()